<main>
  <div class="explanation">
    <P class="message"><%= notice %></P>
    <p><span class= "bold">Title:</span><%= @book.title %></p>
    <p><span class= "bold">Body:</span><%= @book.body%></p>
  </div>
  
    <%= link_to "Edit",edit_book_path(@book), class: "btn1" %>|<%= link_to "Back",books_path, class: "btn2" %>
</main>